google-auth
google-auth-oauthlib
google-pasta
grpcio
gspread
hydralit-components
idna
imageai
importlib-metadata
importlib-resources
imutils
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
kaleido
keras
Keras-Applications
Keras-Preprocessing
kiwisolver
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
MouseInfo
mpmath
multidict
numpy
oauthlib
pandas
patsy
pgf
plotly-express
requests
requests-oauthlib
scikit-learn
scipy
seaborn
six
statsmodels
streamlit
streamlit-drawable-canvas
streamlit-elements
streamlit-modal
streamlit-option-menu
